:root {
  --font-color-1:#414141;
  --font-color-2: #848484;
  --font-color-3:#fcfaf9;
  --font-color-4:rgba(255,255,255,.7);
  --border-color-1:#e7e7e7;
  --bg-color-1: #ffffff;
  --bg-color-2:#e7e7e7;
  --bg-color-3: rgba(181, 181, 181, 0.3);
}
